.card {
  position: relative;
}

.link {
  padding-right: calc(var(--space-6) + var(--size-icon-button) + var(--space-2));
}

.actions {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  z-index: 1;
}
